src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="50607e11-b439-4d21-bd50-cd2eb5da0952" />
	<flow name="unblockAccountFlow" doc:id="ebaa813f-5e59-4781-9206-22c20ec1c7a2" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountNum">attributes.uriParams.'accountNum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account xxxxx is unblocked",
  dbuserName: p('secure::db.username')
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="debitAmountFromAccountFlow" doc:id="a6923a0a-5755-4b48-869e-31d42cc841b1" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountNum">attributes.uriParams.'accountNum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Amount xxxx is debited . Your total balance is xxxxxxxx"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="creditBalanceToAccountFlow" doc:id="18d3d752-7a10-48bc-8fc2-bf52ef6cf3c3" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountNum">attributes.uriParams.'accountNum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Amount xxxx is credited. Your total balance is xxxxxxxx"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="checkBalanceByAccountNumFlow" doc:id="23bece7c-9448-4e71-902b-251abac5ad56" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountNum">attributes.uriParams.'accountNum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Your total balance is xxxxxxxx as on 20-May-2020 is xxxxxx"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="createAccountsFlow" doc:id="92cbb210-cc7a-46fb-a660-396a8073fc84" >
		<!-- <os:retrieve doc:name="Retrieve" doc:id="ae5b4119-af35-494d-897a-c948ef0c4984" key="pk" objectStore="Object_store" target="pk">
			<os:default-value ><![CDATA[1]]></os:default-value>
		</os:retrieve>
		<db:insert doc:name="Insert" doc:id="04c218c0-14ca-4c6b-b0e3-36bdf0587e46" config-ref="Database_Config">
			<db:sql ><![CDATA[Insert into Bank_Transactions(pk,custName,bankName,accountType,branchName,custAccNum,atmPin,ifscCode,totalBalance,mailId,phoneNumber,transactionTimeStamp,accountStatus) values(:pk,:customerName,:bank,:accountType,:branchName,:accountNum,:atmPin,:ifscCode,:depositAmount,:mailId,:phoneNo,:transactionTimeStamp,"Active")]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"pk": vars.pk,
	"customerName": attributes.queryParams.customerName,
	"bank": attributes.queryParams.bank,
	"accountType": attributes.queryParams.accountType,
	"branchName": attributes.queryParams.branchName,
  "accountNum": payload.accountNum,
  "atmPin": payload.atmPin,
  "ifscCode": payload.ifscCode,
  "depositAmount": payload.depositAmount,
  "mailId": payload.mailId,
  "phoneNo": payload.phoneNo,
  "transactionTimeStamp": now() as String
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account Created Successfully with Account Number 1212000012"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<os:store doc:name="Store" doc:id="66dddeb4-3962-4f69-8147-0511b17d4c3b" key="pk" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.pk + 1]]]></os:value>
		</os:store> -->
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account Created Successfully with Account Number 1212000012"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="getAccountByIdFlow"
		doc:id="2ff854cf-e833-4c1f-8fb2-bb6466ee03c6">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="accountNum">attributes.uriParams.'accountNum'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountNum: "1212000012",
  atmPin: "1111",
  ifscCode: "ICIC1234",
  depositAmount: 500,
  mailId: "abc.xyz@gmail.com",
  phoneNo: "123-028-1237"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
